.contact-content > .frm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.contact-content > .frm > .inp-grp {
    display: flex;
    width: 568px;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    margin: 16px 0;
    border: 2px solid #CBCBCB;
}

.contact-content > .frm > .inp-grp.on {
    border-color: #2760D8;
}

.contact-content > .frm > .inp-grp > .ic {
    display: flex;
    width: 24px;
    margin-right: 16px;
}

.contact-content > .frm > .inp-grp > .inp {
    display: flex;
    width: 100%;
}

.contact-content > .frm > .inp-grp > .inp > input {
    width: inherit;
    border: none;
    outline: none;
    font-family: KistPayPopinRegular;
    font-size: 16px;
    color: #C3C3C3;
}

.contact-content > .frm > .inp-grp > .inp > input::placeholder {
    color: #C3C3C3;
}