
.section > .top > .p {
    display: flex;
    font-size: 40px;
    font-family: KistPayPopinLight;
    flex-direction: column;
    margin: 0.5rem 0;
}

.section > .top > .txt {
    font-size: 24px;
    font-family: KistPayPopinRegular;
    color: #1D1D1D;
}

.section > .btm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
}

.section > .btm > .frm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.section > .btm > .frm > .inp-grp {
    display: flex;
    width: 568px;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    margin: 16px 0;
    border: 2px solid #CBCBCB;
}

.section > .btm > .frm > .inp-grp.on {
    border-color: #2760D8;
}

.section > .btm > .frm > .inp-grp > .ic {
    display: flex;
    width: 24px;
    margin-right: 16px;
}

.section > .btm > .frm > .inp-grp > .inp {
    display: flex;
    width: 100%;
}

.section > .btm > .frm > .inp-grp > .inp > input {
    width: inherit;
    border: none;
    outline: none;
    font-family: KistPayPopinRegular;
    font-size: 16px;
    color: #C3C3C3;
}

.section > .btm > .frm > .inp-grp > .inp > input::placeholder {
    color: #C3C3C3;
}

.section > .btm > .actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section > .top{
        flex-direction: column;
    }
    .section > .top > .p {
        font-size: 20px;
    }
    .section > .top > .txt {
        font-size: 12px;
    }
    .section > .btm > .frm{
        justify-content: space-around;
        margin: 1rem 0;
    }
    .section > .btm > .frm > .inp-grp{
        width: initial;
        padding: 12px 18px;
        margin: 12px 0;
    }
    .section > .btm > .actions{
        justify-content: center;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .section > .top{
        flex-direction: column;
    }
    .section > .top > .p {
        font-size: 20px;
    }
    .section > .top > .txt {
        font-size: 12px;
    }
    .section > .btm > .frm{
        justify-content: center;
        margin: 1rem 0;
    }
    .section > .btm > .frm > .inp-grp{
        width: initial;
        padding: 12px 18px;
        margin: 12px 0;
    }
    .section > .btm > .actions{
        justify-content: center;
        margin: 0.5rem 0;
    }
}