body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #087bee;
    outline: 1px solid #087bee;
}

html {
    scroll-behavior: smooth
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*min-width: 50%;*/
    align-items: center;
    /*background-color: #F1F6FF;*/
    font-family: "poppins";
    overflow: hidden;
    z-index: 2;
}


.section {
    display: flex;
    background-color: #F1F6FF;
    /*padding: 136px 112px;*/
    padding: 3rem 6rem;
    position: relative;
}

.section.bg_sec {
    background-image: none;
}

.section.bg_sec.sec_5_mob {
    background-color: white;
    background-image: url("../../images/sections/five/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.section > .lft {
    display: flex;
    /*justify-content: center;*/
    flex: 1;
}

.section > .lft > .p {
    width: 100%;
    font-size: 36px;
    font-family: KistPayPopinMedium;
}

.section > .rt {
    display: flex;
    justify-content: center;
    flex: 1;
}

.section > .rtm {
    display: flex;
    justify-content: center;
    flex: 1;
}

.section > .rt > .img-hld {
    display: flex;
    justify-items: center;
    width: 544px;
    height: 544px;
}

.section > .rt > .img-hld > img {
    width: inherit;
    height: inherit;
}

.section > .lft > .cont-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section > .lft > .cont-box > .top {
    display: flex;
    margin-bottom: 39px;
}

.section > .lft > .cont-box > .top > .p {
    font-size: 40px;
    font-family: KistPayPopinLight;
    color: #1D1D1D;
}

.section > .lft > .cont-box > .btm {
    display: flex;
    flex-direction: column;
}

.section > .lft > .cont-box > .btm > .p {
    display: flex;
    font-size: 32px;
    white-space: nowrap;
    color: #1D1D1D;
}

.section > .lft > .cont-box > .btm > .list {
    display: flex;
    flex-direction: column;
}

.section > .lft > .cont-box > .btm > .list.rw {
    display: flex;
}

.section > .lft > .cont-box > .btm > .list > .li {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.section > .lft > .cont-box > .btm > .list.rw > .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section > .lft > .cont-box > .btm > .list.rw > .icons > .ic {
    display: flex;
    align-items: center;
}

.section > .lft > .cont-box > .btm > .list > .li > .ic {
    display: flex;
    margin: 0 16px 0 0;
    width: 32px;
    height: 32px;
}

.section > .lft > .cont-box > .btm > .actions {
    display: flex;
}

.section > .rt > .cont-box {

}

/*section four*/
.img-section {
    display: flex;
    width: 100%;
    background-color: #2760D8;
    flex-direction: column;
    /*background-image: url("../../images/sections/four/path.png");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}

.img-section > .path-hld {
    display: flex;
    width: -webkit-fill-available;
    padding: 3rem;
}

.img-section > .path-hld > .ctn-hld {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.img-section > .path-hld > .ctn-hld > .tp {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}

.img-section > .path-hld > .ctn-hld > .tp > .p {
    font-size: 40px;
    color: white;
}

.img-section > .path-hld > .ctn-hld > .btm {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.img-section > .path-hld > .ctn-hld > .btm > .cts-box {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.img-section > .path-hld > .ctn-hld > .btm > .cts-box > .tp {
    display: flex;
    font-size: 44px;
}

.img-section > .path-hld > .ctn-hld > .btm > .cts-box > .btm {
    display: flex;
    font-size: 24px;
}

/*Slider*/
.slider-hld {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    background-color: white;
    padding: 3rem 6rem;
}

.slider-hld > .top {
    display: flex;
    margin: 3rem 0;
}

.slider-hld > .top > .p {
    font-size: 40px;
    color: #1D1D1D;
}

.slider-hld > .btm {

}

.slider-hld > .btm > .slides {

}

.slider-hld > .btm > .slides .title {
    margin-bottom: 17px;
    font-size: 28px;
    color: #4979DF;
    font-family: KistPayPopinBold;
}

.slider-hld > .btm > .slides .content {
    font-size: 20px;
    font-family: KistPayPopinRegular;
    color: #1D1D1D;
}

.slides .indicators {
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.slides .react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
    width: 30px;
    height: 5px;
    border-radius: 8px;
    background: #2760D8;
}

.slides .react-slideshow-container + ul.indicators li {
    width: 30px;
    height: 5px;
}

/*Defaults*/

.p-blue {
    font-size: 20px;
    font-family: KistPayPopinRegular;
    color: #4979DF;
}

.p-black {
    font-size: 20px;
    font-family: KistPayPopinRegular;
    color: #1D1D1D;
}

.p-white {
    font-size: 48px;
    font-family: KistPayPopinBold;
    color: white;
}

.p-bold-blue {
    display: contents;
    font-family: KistPayPopinBold;
    /*font-weight: bold;*/
    color: #4979DF;
}

.p-bold-green {
    display: contents;
    font-family: KistPayPopinBold;
    /*font-weight: bold;*/
    color: #33D827;
}

.p-bold {
    display: contents;
    font-family: KistPayPopinBold;
    /*font-weight: bold;*/
    color: #1D1D1D;
}

.btn {
    display: flex;
    text-transform: uppercase;
    color: white;
    padding: 16px 35px;
    border-radius: 8px;
    margin: 30px 24px 30px 0;
    cursor: pointer;
    font-size: 14px;
    font-family: KistPayPopinMedium;
}

.btn.pri {
    background-color: #4979DF;
}

.btn.sec {
    background-color: #33D827;
}

.btn.wht {
    background-color: white;
    color: #0C2C83;
}

.mini_logo {
    display: none;
}

/*--For Large Screens--*/
@media only screen and (min-width: 1440px) {
    .section {
        /*max-width: 1320px;*/
        max-width: 1440px;
    }

    .img-section {
        max-width: 1632px;
    }

    .main {
        position: absolute;
        /*background: radial-gradient(#fff, #2760D8);*/
    }

    .mini_logo {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .mini_logo div {
        position: absolute;
        display: block;
    }

    .mini_logo div:nth-child(1) {
        left: 20%;
        animation: fall 15s linear infinite;
        animation-delay: -2s;

    }

    .mini_logo div:nth-child(2) {
        left: 70%;
        animation: fall 15s linear infinite;
        animation-delay: -4s;
    }

    .mini_logo div:nth-child(3) {
        left: 10%;
        animation: fall 20s linear infinite;
        animation-delay: -7s;

    }

    .mini_logo div:nth-child(4) {
        left: 50%;
        animation: fall 18s linear infinite;
        animation-delay: -5s;
    }

    .mini_logo div:nth-child(5) {
        left: 85%;
        animation: fall 14s linear infinite;
        animation-delay: -5s;
    }

    .mini_logo div:nth-child(6) {
        left: 15%;
        animation: fall 16s linear infinite;
        animation-delay: -10s;
    }

    .mini_logo div:nth-child(7) {
        left: 90%;
        animation: fall 15s linear infinite;
        animation-delay: -4s;
    }

    @keyframes fall {
        0% {
            opacity: 1;
            top: -10%;
            transform: translateX(20px) rotate(0deg);
        }
        20% {
            opacity: 0.8;
            transform: translateX(-20px) rotate(45deg);
        }
        40% {

            transform: translateX(-20px) rotate(90deg);
        }
        60% {

            transform: translateX(-20px) rotate(135deg);
        }
        80% {

            transform: translateX(-20px) rotate(180deg);
        }
        100% {

            top: 110%;
            transform: translateX(-20px) rotate(225deg);
        }
    }
    .mini_logo_1 {
        transform: rotateX(180deg);
    }
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section {
        padding: 3rem 4rem !important;
        /*width: initial !important;*/
    }

    .btn {
        margin: 20px 0 30px 5px;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 16px;
    }

    .p-white {
        font-size: 28px;
    }

    .p-blue {
        font-size: 14px;
    }

    .p-black {
        font-size: 14px;
    }

    .section > .lft > .p {
        font-size: 18px;
    }

    .section > .lft > .cont-box > .top > .p {
        font-size: 24px;
    }

    .section > .lft > .cont-box > .btm > .p {
        font-size: 18px;
    }

    .section > .lft > .cont-box > .btm > .list > .li > .ic {
        width: 16px;
        height: 16px;
    }

    .section > .lft > .cont-box > .btm {
        /*width: 200px;*/
    }

    .section > .lft > .cont-box > .top {
        margin-bottom: 16px;
    }

    .section > .rt > .img-hld {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 300px;
        height: 300px;
    }

    .section > .rt > .img-hld img {
        width: 320px;
        height: 320px;
    }

    .img-section > .path-hld > .ctn-hld > .tp > .p {
        font-size: 20px;
    }

    .img-section > .path-hld > .ctn-hld > .btm > .cts-box > .tp {
        font-size: 22px;
    }

    .img-section > .path-hld > .ctn-hld > .btm > .cts-box > .btm {
        font-size: 12px;
    }

    .slider-hld > .top > .p {
        font-size: 24px;
    }

    .slider-hld > .btm > .slides .title {
        font-size: 16px;
    }

    .slider-hld > .btm > .slides .content {
        font-size: 14px;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .section {
        /*padding: 1rem !important;*/
        padding: 0 !important;
        flex-direction: column;
    }

    .section.bg_sec {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        /*filter: grayscale(50%);*/
        width: 100%;
        aspect-ratio: 1;
    }

    .section.bg_sec:before {
        content: "";
        background-color: #3d3d3dbf;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .section.bg_sec_df {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        filter: grayscale(50%);
        width: 100%;
        aspect-ratio: 1;
    }

    .section.bg_sec_df:before {
        content: "";
        /*background-color: #3d3d3dbf;*/
        width: 100%;
        height: 100%;
        position: absolute;
    }

    /*--landing page images bg--*/
    .section.bg_sec.sec_1_mob {
        background: url("../../images/sections/one/lan_bg_mob_1.jpg");
    }

    .section.bg_sec.sec_2_mob {
        background: url("../../images/sections/two/lan_bg_mob_2.jpg");
    }

    .section.bg_sec.sec_5_mob {
        background: url("../../images/sections/five/lan_bg_mob_5.jpg");
    }

    /*--customer page images bg--*/
    .section.bg_sec.cus_sec_1_mob {
        background: url("../../images/sections/three/cus_bg_mob_1.jpg");
    }

    /*--retailer page images bg--*/
    .section.bg_sec.ret_sec_1_mob {
        background: url("../../images/sections/one/ret_bg_mob_1.jpg");
    }

    /*-- default bg img --*/
    .section.bg_sec_df.df_bg {
        background: url("../../images/df_bg.png");
    }

    /*-- default bg img for ov-hold --*/
    .section > .ov-hld.bg_sec.df_bg {
        background: url("../../images/df_bg.png");
    }

    .btn {
        margin: 20px 0 30px 5px;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
    }

    .p-white {
        font-size: 24px;
    }

    .section > .lft > .cont-box > .btm > .list > .li > .p-blue.mob {
        color: white;
    }

    .section > .lft > .cont-box > .btm > .list > .li > .p-black.mob {
        color: white
    }

    .p-blue {
        font-size: 12px;
    }

    .p-bold-green {
        display: flex;
    }

    .p-black {
        font-size: 12px;
    }

    .section > .lft {
        z-index: 2;
        padding: 1rem;
    }

    .section > .lft > .p {
        font-size: 16px;
    }

    .section > .lft > .cont-box > .top > .p {
        font-size: 16px;
        color: white;
        font-weight: bolder;
    }

    .section > .lft > .cont-box > .top > .p.blk {
        color: #1D1D1D;
    }

    .section > .lft > .cont-box > .btm {
        align-items: center;
    }

    .section > .lft > .cont-box > .btm > .p {
        font-size: 14px;
        justify-content: center;
        color: white;
        font-weight: bolder;
    }

    .section > .lft > .cont-box > .btm > .actions {
        justify-content: center;
    }

    .section > .lft > .cont-box > .btm > .list > .li > .ic {
        width: 16px;
        height: 16px;
    }

    .section > .lft > .cont-box > .btm > .list.rw > .icons > .ic {
        margin: 0 0.5rem;
    }

    .section > .lft > .cont-box > .btm > .list.rw > .icons > .ic > img {
        width: 42px;
    }

    .section > .lft > .cont-box > .top {
        margin-bottom: 16px;
    }

    .section > .rt {
        display: none;
    }

    .section > .rt > .img-hld {
        display: none;
    }

    .section > .rt > .img-hld img {
        width: 285px;
    }

    .img-section > .path-hld {
        padding: 1rem;
    }

    .img-section > .path-hld > .ctn-hld > .tp {
        margin-bottom: 12px;
    }

    .img-section > .path-hld > .ctn-hld > .tp > .p {
        font-size: 16px;
    }

    .img-section > .path-hld > .ctn-hld > .btm > .cts-box > .tp {
        font-size: 12px;
    }

    .img-section > .path-hld > .ctn-hld > .btm > .cts-box > .btm {
        font-size: 7px;
    }

    .slider-hld {
        padding: 1rem !important;
    }

    .slider-hld > .top {
        margin: 1rem 0;
    }

    .slider-hld > .top > .p {
        font-size: 18px;
    }

    .slider-hld > .btm > .slides .title {
        font-size: 12px;
    }

    .slider-hld > .btm > .slides .content {
        font-size: 11px;
    }
}