.cont-main > .section > .cnt-sec-four {
    display: flex;
    flex-direction: column;
}

.cont-main > .section > .cnt-sec-four > .top {
    display: flex;
    margin: 1rem 0;
}

.cont-main > .section > .cnt-sec-four > .top > .hdr {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cont-main > .section > .cnt-sec-four > .top > .hdr > .head {
    display: flex;
    white-space: nowrap;
    font-size: 28px;
    color: #447ABB;
}

.cont-main > .section > .cnt-sec-four > .top > .hdr > .txt-p {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cont-main > .section > .cnt-sec-four > .top > .hdr > .txt-p > .p {
    /*width: 100%;*/
    color: #898989;
    font-size: 16px;
}

.cont-main > .section > .cnt-sec-four > .center {
    display: flex;
    margin: 1rem 0;
    align-items: baseline;
}

.cont-main > .section > .cnt-sec-four > .center .ic-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
}

.cont-main > .section > .cnt-sec-four > .center .ic-grp > .ic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-main > .section > .cnt-sec-four > .center .ic-grp > .p {
    width: 200px;
    font-size: 14px;
    text-align: center;
    margin: 1rem 0;
}

.cont-main > .section > .cnt-sec-four > .btm {
    margin: 1rem 0;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cont-main > .section > .cnt-sec-four > .top > .hdr > .head {
        font-size: 20px;
    }

    .cont-main > .section > .cnt-sec-four > .top > .hdr > .txt-p > .p {
        font-size: 18px;
    }

    .cont-main > .section > .cnt-sec-four > .center {
        align-items: center;
    }

    .cont-main > .section > .cnt-sec-four > .center .ic-grp {
        width: 160px;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .cont-main > .section > .cnt-sec-four > .top > .hdr > .head {
        font-size: 16px;
    }

    .cont-main > .section > .cnt-sec-four > .top > .hdr > .txt-p > .p {
        font-size: 14px;
    }

    .cont-main > .section > .rt {

    }

    .cont-main > .section > .cnt-sec-four > .center {
        /*flex-direction: column;*/
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cont-main > .section > .cnt-sec-four > .center .ic-grp {
        width: 200px;
    }

    .cont-main > .section > .cnt-sec-four > .center .ic-grp > .ic img {
        width: 52px;
        height: 52px;
    }
}