.cont-main > .section > .cnt-sec-six {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
}

.cont-main > .section > .cnt-sec-six > .lft {
    display: flex;
    flex: 1;
}

.cont-main > .section > .cnt-sec-six > .lft > .sl-cont {
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

.cont-main > .section > .cnt-sec-six > .lft > .sl-cont .swiper-slide .oc-hld {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
}

.cont-main > .section > .cnt-sec-six > .lft > .sl-cont .swiper-slide .oc-hld > .pro-img {
    display: flex;
    margin-bottom: 1rem;
}

.cont-main > .section > .cnt-sec-six > .lft > .sl-cont .swiper-slide .oc-hld > .pro-img .img {
    width: 80px;
    height: 80px;
}

.cont-main > .section > .cnt-sec-six > .lft > .sl-cont .swiper-slide .oc-hld > .pra {
    display: flex;
}

.cont-main > .section > .cnt-sec-six > .lft > .sl-cont .swiper-slide .oc-hld > .pra > .p {
    color: #898989;
    font-size: 14px;
}

.cont-main > .section > .cnt-sec-six > .rt {
    display: flex;
    flex: 1;
}

.cont-main > .section > .cnt-sec-six > .rt > .tm-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .head {
    display: flex;
    font-weight: 500;
    font-size: 28px;
    color: #447ABB;
}

.cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .head > img {
    margin-bottom: 1rem;
}

.cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .p {
    display: flex;
    font-size: 18px;
    color: #9c9898;
    flex-direction: column;
}

.cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .p > .st {
    color: #447ABB;
}

.cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .act {
    display: flex;

}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cont-main > .section > .cnt-sec-six {
        flex-direction: column;
        margin-bottom: 0;
    }

    .cont-main > .section > .cnt-sec-six > .lft {
        margin: 1rem 0;
    }

    .cont-main > .section > .cnt-sec-six > .lft > .sl-cont > img{
        width: 250px;
    }

    .cont-main > .section > .cnt-sec-six > .rt {
        margin: 1rem 0;
    }

    .cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .head {
        font-size: 24px;
        justify-content: center;
        /*margin: 0.5rem;*/
    }

    .cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .p {
        font-size: 16px;
        margin: 0.5rem;
    }

    .cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .act {
        justify-content: center;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .cont-main > .section > .cnt-sec-six {
        flex-direction: column;
        margin-bottom: 0;
    }

    .cont-main > .section > .cnt-sec-six > .lft {
        margin: 1rem 0;
    }

    .cont-main > .section > .cnt-sec-six > .lft > .sl-cont > img{
        width: 250px;
    }

    .cont-main > .section > .cnt-sec-six > .rt {
        margin: 1rem 0.5rem;
    }

    .cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .head {
        font-size: 22px;
        justify-content: flex-start;
        /*margin: 0.5rem;*/
    }

    .cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .head > img{
        width: 35px;
    }

    .cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .p {
        font-size: 16px;
        margin: 0.5rem;
    }

    .cont-main > .section > .cnt-sec-six > .rt > .tm-sec > .act {
        justify-content: center;
    }

}

