.cont-main > .section > .cnt-sec-three > .rt > .txt-cont {
    display: flex;
    flex-direction: column;
}

.cont-main > .section > .cnt-sec-three > .rt > .txt-cont > .head {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #447ABB;
    margin: 0.5rem;
}

.cont-main > .section > .cnt-sec-three > .rt > .txt-cont > .txt-points {
    margin: 0.5rem;
}

.cont-main > .section > .cnt-sec-three > .rt > .txt-cont > .txt-points > .point {
    color: #898989;
    font-size: 16px;
}

.cont-main > .section > .cnt-sec-three > .lft > .icons-hldr {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.cont-main > .section > .cnt-sec-three > .lft > .icons-hldr > .ic {
    display: flex;
    margin: 0.5rem;
    width: 100px;
    height: 100px;
}


/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .cont-main > .section > .cnt-sec-three{
        display: flex;
        align-items: center;
        height: 300px;
    }

    .cont-main > .section > .cnt-sec-three > .rt > .txt-cont > .head {
        font-size: 20px;
    }

    .cont-main > .section > .cnt-sec-three > .rt > .txt-cont > .txt-points > .point {
        font-size: 12px;
        text-align: center;
    }
}