.kp-header-main{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    /*background-color: white;*/
    background-color: transparent;
    /*box-shadow: 0 0 6px -1px #9c9898;*/
    padding: 8px 0;
    z-index: 3;
    transition: all 0.5s ease-in-out;
}

.kp-header-main.active{
    background-color: white;
    box-shadow: 0 0 6px -1px #9c9898;
}

.kp-head-holder {
    display: flex;
    width: 100%;
}

.kp-head-holder > .lft {
    display: flex;
    /*flex: 1;*/
    align-items: center;
    margin: 0 1rem;
}

.kp-head-holder > .lft > .logo {
    display: flex;
    cursor: pointer;
    width: 128px;
    height: 51px;
}

.kp-head-holder > .lft > .logo > img {
    width: inherit;
    height: inherit;
}

.kp-head-holder > .rt {
    display: flex;
    width: 100%;
    /*flex: 1;*/
    justify-content: flex-end;
    align-items: center;
    margin: 0 1rem;
}

.kp-head-holder > .rt > .nav-holder {
    display: flex;
    /*width: 100%;*/
    /*justify-content: center;*/
}

.kp-head-holder > .rt > .nav-holder > .anh {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.kp-head-holder > .rt > .nav-holder > .anh > .link {
    display: flex;
    position: relative;
    font-family: KistPayPopinRegular;
    width: 100%;
    text-decoration: none;
    /*color: #615e5eeb;*/
    color: white;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 1rem;
    white-space: nowrap;
    border-bottom-color: transparent;
}
.kp-head-holder > .rt > .nav-holder > .anh > .link.active {
    color: #615e5eeb;
}

.kp-head-holder > .rt > .nav-holder > .anh > .link::before{
    content: "";
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.kp-head-holder > .rt > .nav-holder > .anh > .link:hover::before {
    animation: beforeBorders 0.2s forwards ease-in-out;
    border-bottom: 2px solid #2760D8;
}
.kp-head-holder > .rt > .nav-holder > .anh > .link.on::before {
    border-bottom: 2px solid #2760D8;
}

.kp-head-holder > .rt > .ic-btn{
    display: none;
    cursor: pointer;
}


@keyframes beforeBorders {
    0% {
        width: 0;
    }
    33% {
        width: 30%;
    }
    66% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

.kp-head-holder > .rt > .nav-holder > .anh > .link.dr {
    position: relative;
}

.kp-head-holder > .rt > .nav-holder > .anh > .link-drop {
    position: absolute;
    padding: 8px 16px;
    background-color: white;
    border-radius: 4px;
    top: 60px;
    right: 180px;
    width: 120px;
    box-shadow: 0 0 11px -5px grey;
    z-index: 1;
}

.kp-head-holder > .rt > .nav-holder > .anh > .link-drop > .ch-link {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: #615e5eeb;
    padding: 8px 0;
    position: relative;
}

.kp-head-holder > .rt > .nav-holder > .anh > .link:hover {
    color: #447ABB;
    padding-bottom: 8px;
    transition: all 1ms ease-in;
}

.kp-head-holder > .rt > .nav-holder > .anh > .link-btn {
    display: flex;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    background-color: #447ABB;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-left: 1rem;
    text-transform: uppercase;
}


/*--For Large Screens--*/
@media only screen and (min-width: 1440px) {
    .kp-head-holder {
        /*max-width: 1512px;*/
        max-width: 1632px;
    }
}
/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .kp-head-holder > .rt > .nav-holder > .anh > .link{
        white-space: nowrap;
        font-size: 12px;
    }
}
/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .kp-head-holder > .rt {
        justify-content: flex-end;
    }
    .kp-head-holder > .rt > .nav-holder {
        display: none;
    }

    .kp-head-holder > .rt > .ic-btn {
        display: flex;
    }
    .kp-head-holder > .lft > .logo{
        width: 100px;
        height: 40px;
    }
}

