.head-holder {
    display: flex;
    width: 100%;
    height: 64px;
    background-color: white;
    box-shadow: 0 0 6px -1px #9c9898;
    padding: 8px 0;
}

.head-holder > .lft {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 1rem;
}

.head-holder > .lft > .logo {
    display: flex;
    cursor: pointer;
    width: 128px;
    height: 51px;
}

.head-holder > .lft > .logo > img {
    width: inherit;
    height: inherit;
}

.head-holder > .rt {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.head-holder > .rt > .nav-holder {
    display: flex;
    width: 100%;
    justify-content: center;
}

.head-holder > .rt > .nav-holder > .anh {
    display: flex;
    width: 100%;
}

.head-holder > .rt > .nav-holder > .anh > .link {
    display: flex;
    position: relative;
    font-family: KistPayPopinRegular;
    width: 100%;
    text-decoration: none;
    color: #3d3d3d;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 0.5rem;
    border-bottom-color: transparent;
}

.head-holder > .rt > .nav-holder > .anh > .link::before{
    content: "";
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.head-holder > .rt > .nav-holder > .anh > .link:hover::before {
    animation: beforeBorders 0.2s forwards ease-in-out;
    border-bottom: 2px solid #2760D8;
}
.head-holder > .rt > .nav-holder > .anh > .link.on::before {
    border-bottom: 2px solid #2760D8;
}

.head-holder > .rt > .ic-btn{
    display: none;
    cursor: pointer;
}


@keyframes beforeBorders {
    0% {
        width: 0;
    }
    33% {
        width: 30%;
    }
    66% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

.head-holder > .rt > .nav-holder > .anh > .link.dr {
    position: relative;
}

.head-holder > .rt > .nav-holder > .anh > .link-drop {
    position: absolute;
    padding: 8px 16px;
    background-color: white;
    border-radius: 4px;
    top: 60px;
    right: 180px;
    width: 120px;
    box-shadow: 0 0 11px -5px grey;
    z-index: 1;
}

.head-holder > .rt > .nav-holder > .anh > .link-drop > .ch-link {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: #3d3d3d;
    padding: 8px 0;
    position: relative;
}

.head-holder > .rt > .nav-holder > .anh > .link:hover {
    color: #447ABB;
}

.head-holder > .rt > .nav-holder > .anh > .link-btn {
    display: flex;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    background-color: #447ABB;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-left: 1rem;
    text-transform: uppercase;
}


/*--For Large Screens--*/
@media only screen and (min-width: 1440px) {
    .head-holder {
        /*max-width: 1512px;*/
        max-width: 1632px;
    }
}
/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .head-holder > .rt > .nav-holder > .anh > .link{
        white-space: nowrap;
        font-size: 12px;
    }
}
/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .head-holder > .rt {
        justify-content: flex-end;
    }
    .head-holder > .rt > .nav-holder {
        display: none;
    }

    .head-holder > .rt > .ic-btn {
        display: flex;
    }
    .head-holder > .lft > .logo{
        width: 100px;
        height: 40px;
    }
}

