.cont-main > .section > .cnt-sec-seven {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cont-main > .section > .cnt-sec-seven > .top {
    display: flex;
    justify-content: center;
}

.cont-main > .section > .cnt-sec-seven > .top > .heading {
    display: flex;
    margin: 3rem 0;
}

.cont-main > .section > .cnt-sec-seven > .top > .heading > .txt {
    display: flex;
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.cont-main > .section > .cnt-sec-seven > .center {
    display: flex;
}

.cont-main > .section > .cnt-sec-seven > .center > .img-hld {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-main > .section > .cnt-sec-seven > .center > .img-hld > img {
    height: 700px;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cont-main > .section > .cnt-sec-seven > .center > .img-hld > img {
        height: 475px;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .cont-main > .section > .cnt-sec-seven > .top > .heading {
        margin: 1rem 0;
    }

    .cont-main > .section > .cnt-sec-seven > .top > .heading > .txt {
        font-size: 18px;
    }

    .cont-main > .section > .cnt-sec-seven > .center > .img-hld > img {
        height: 300px;
    }
}