.section > .lft > .sgn{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.section > .lft > .sgn > .txt{
    font-size: 32px;
    font-family: KistPayPopinRegular;
}

.section > .lft > .sgn > .sub-txt{
    font-size: 24px;
    font-family: "poppins";
    font-style: italic;
}


/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section > .lft > .sgn > .txt{
        font-size: 18px;
    }
    .section > .lft > .sgn > .sub-txt{
        font-size: 14px;
    }
}


/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .section > .lft > .sgn > .txt{
        font-size: 16px;
    }
    .section > .lft > .sgn > .sub-txt{
        font-size: 12px;
    }
}
