.section > .ov-hld{
    display: flex;
    flex-direction: column;
}

.section > .ov-hld > .p{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: KistPayPopinLight;
    margin-bottom: 72px;
    z-index: 2;
}

.section > .ov-hld > .p-bx{
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
    background-color: #F1F6FF;
    border-radius: 16px;
    margin-bottom: 72px;
    z-index: 2;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.section > .ov-hld > .p-bx > .hd{
    font-size: 28px;
    font-family: KistPayPopinBold;
}

.section > .ov-hld > .p-bx > .cnt{
    font-size: 20px;
    font-family: KistPayPopinRegular;
    margin: 8px 0;

}

.section > .ov-hld > .p-bx > .lc{
    display: flex;
    align-items: center;
    width: 100%;
}

.section > .ov-hld > .p-bx > .lc > .ic{
    display: flex;
    margin: 8px 0.5rem 8px 0;
}

.section > .ov-hld > .p-bx > .lc > .p{
    display: flex;
    font-family: KistPayPopinMedium;
    font-size: 20px;
}

.section > .ov-hld > .p-bx > .lc > .sp{
    display: flex;
    font-family: KistPayPopinRegular;
    font-size: 16px;
}

.section > .ov-hld > .p-bx > .lc > .p.blue{
    color: #447ABB;
}

.section > .ov-hld > .vd-cnt{
    display: flex;
    width: 100%;
    z-index: 2;
}

.section > .ov-hld > .vd-cnt > section{
    width: inherit;
}

.section > .ov-hld > .vd-cnt > section > video{
    width: inherit;
}

@media only screen and (max-width: 767px) {
    .section > .ov-hld {
        /*padding: 1rem !important;*/
        padding: 0 !important;
        flex-direction: column;
    }

    .section > .ov-hld.bg_sec {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        filter: grayscale(50%);
        width: 100%;
        aspect-ratio: 2;
    }

    .section > .ov-hld.bg_sec:before {
        content: "";
        /*background-color: #3d3d3dbf;*/
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .section > .ov-hld > .p-bx {
        box-shadow: 0 0 13px 4px #daeaff;
        /*background: rgba(147, 145, 145, 0.25);*/
        /*box-shadow: 0 8px 32px 0 rgb(100, 165, 243);*/
        /*backdrop-filter: blur( 2.5px );*/
        /*-webkit-backdrop-filter: blur( 2.5px );*/
        /*border-radius: 10px;*/
        /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    }
}