@font-face {
    font-family: "KistPayFont";
    src: url("../Styles/fonts/webfonts/Poppins-Black.woff");
}

@font-face {
    font-family: "KistPayPopinBold";
    src: url("../Styles/fonts/webfonts/Poppins-Bold.woff");
}

@font-face {
    font-family: "KistPayPopinSemiBold";
    src: url("../Styles/fonts/webfonts/Poppins-SemiBold.woff");
}

@font-face {
    font-family: "KistPayPopinRegular";
    src: url("../Styles/fonts/webfonts/Poppins-Regular.woff");
}

@font-face {
    font-family: "KistPayPopinMedium";
    src: url("../Styles/fonts/webfonts/Poppins-Medium.woff");
}

@font-face {
    font-family: "KistPayPopinLight";
    src: url("../Styles/fonts/webfonts/Poppins-Light.woff");
}

body{
    font-family: KistPayFont;
    margin: 0;
    padding: 0;
}
