.section > .cnt {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.section > .cnt > .hd {
    display: flex;
    font-size: 40px;
    font-family: KistPayPopinMedium;
    justify-content: center;
    margin-bottom: 16px;
}

.section > .cnt > .list {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.section > .cnt > .list .tbx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    padding: 8px 16px;
}

.section > .cnt > .list .tbx.on {
    background-color: #F1FFF3
}


.section > .cnt > .list .p {
    font-family: KistPayPopinRegular;
    font-size: 20px;
    color: #1D1D1D;
    padding: 1rem;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section > .cnt > .hd{
        font-size: 20px;
    }
    .section > .cnt > .list .p{
        font-size: 12px;
    }
    .section > .cnt > .list .tbx > .ic > img{
        width: 24px;
    }
}


/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .section > .cnt > .hd{
        font-size: 20px;
    }
    .section > .cnt > .list .p{
        font-size: 12px;
    }
    .section > .cnt > .list .tbx > .ic > img{
        width: 24px;
    }
}