.cont-main > .section > .cnt-sec-five {
    display: flex;
    flex-direction: column;
}

.cont-main > .section > .cnt-sec-five > .top {
    display: flex;
    margin: 1rem 0;
}

.cont-main > .section > .cnt-sec-five > .top > .hdr {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cont-main > .section > .cnt-sec-five > .top > .hdr > .head {
    display: flex;
    white-space: nowrap;
    font-size: 28px;
    color: #447ABB;
}

.cont-main > .section > .cnt-sec-five > .top > .hdr > .txt-p {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cont-main > .section > .cnt-sec-five > .top > .hdr > .txt-p > .ic {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.cont-main > .section > .cnt-sec-five > .top > .hdr > .txt-p > .ic img {
    width: 20px;
    height: 20px;
}

.cont-main > .section > .cnt-sec-five > .top > .hdr > .txt-p > .p {
    color: #898989;
    font-size: 16px;
}

.cont-main > .section > .cnt-sec-five > .center {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;
}

.cont-main > .section > .cnt-sec-five > .center > .cv-bg {
    display: flex;
    position: relative;
}

.cont-main > .section > .cnt-sec-five > .center > .cv-bg > img {
    border-radius: 1rem;
    height: 500px;
    position: relative;
}

.cont-main > .section > .cnt-sec-five > .center > .cv-bg > .clr-op {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: #447abba8;
    border-radius: 1rem;

}

.cont-main > .section > .cnt-sec-five > .center > .crd-sec {
    display: flex;
    position: absolute;
    bottom: 2rem;
    /*right: calc(50% - 30rem);*/
    width: 60%;
    padding: 0.5rem;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.cont-main > .section > .cnt-sec-five > .center > .crd-sec > .crd {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 2rem;
}

.cont-main > .section > .cnt-sec-five > .center > .crd-sec > .crd > .head {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 500;
    color: #447ABB;
}

.cont-main > .section > .cnt-sec-five > .center > .crd-sec > .crd > .p {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    font-size: 18px;
    color: #9c9898;
}

.cont-main > .section > .cnt-sec-five > .center > .crd-sec > .crd > .p > .gp {
    margin-top: 1rem;
}


.cont-main > .section > .cnt-sec-five > .btm {
    margin: 6rem 0;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cont-main > .section > .cnt-sec-five > .top {
        justify-content: center;
        margin: 1rem 4rem;
    }

    .cont-main > .section > .cnt-sec-five > .center > .crd-sec {
        position: relative;
        width: 80%;
    }

    .cont-main > .section > .cnt-sec-five > .top > .hdr {
        width: auto;
        flex-wrap: wrap;
    }

    .cont-main > .section > .cnt-sec-five > .top > .hdr > .txt-p {
        margin: 1rem;
        width: inherit;
    }

    .cont-main > .section > .cnt-sec-five > .center > .cv-bg > img {
        height: 400px;
    }

    .cont-main > .section > .cnt-sec-five > .center > .cv-bg > .clr-op {
        height: 400px;
    }

    .cont-main > .section > .cnt-sec-five > .btm {
        margin: 0 0;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .cont-main > .section > .cnt-sec-five > .top {
        justify-content: center;
    }

    .cont-main > .section > .cnt-sec-five > .top > .hdr {
        width: auto;
        flex-wrap: wrap;
    }

    .cont-main > .section > .cnt-sec-five > .top > .hdr > .txt-p {
        margin: 1rem 0;
    }

    .cont-main > .section > .cnt-sec-five > .center > .crd-sec {
        position: relative;
        width: 60%;
    }

    .cont-main > .section > .cnt-sec-five > .center > .crd-sec > .crd {
        padding: 0.5rem 0;
    }

    .cont-main > .section > .cnt-sec-five > .center > .crd-sec > .crd > .head {
        font-size: 22px;
    }

    .cont-main > .section > .cnt-sec-five > .center > .crd-sec > .crd > .p {
        font-size: 12px;
        padding: 0.5rem 0;
        text-align: justify;
    }

    .cont-main > .section > .cnt-sec-five > .center > .cv-bg > img {
        height: 300px;
        min-height: 300px;
    }

    .cont-main > .section > .cnt-sec-five > .center > .cv-bg > .clr-op {
        height: 300px;
    }

    .cont-main > .section > .cnt-sec-five > .btm {
        margin: 0 0;
    }
}
