.foot-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to left, #2760D8,#002B84);
    color: white;
}

.foot-holder > .sec-content{
    display: flex;
    justify-content: space-between;
    padding: 73px 112px;
}

.foot-holder > .sec-content > .divider{
    display: flex;
    margin: 1rem 0;
    justify-content: space-around;
}

.foot-holder > .sec-content > .divider > .clm{
    display: flex;
    flex-direction: column;
}

.foot-holder > .sec-content > .divider > .clm > .logo{
    display: flex;
}

.foot-holder > .sec-content > .divider > .clm > .icons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.foot-holder > .sec-content > .divider > .clm > .icons > img{
    width: 32px;
    height: 32px;
}

.foot-holder > .sec-content > .divider > .clm > .txt{
    display: flex;
    flex-direction: column;
}

.foot-holder > .sec-content > .divider > .clm > .txt > .head{
    display: flex;
    font-family: KistPayPopinSemiBold;
    font-size: 20px;
}

.foot-holder > .sec-content > .divider > .clm > .txt > .p{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: KistPayPopinRegular;
    margin-top: 19px;
}

.foot-holder > .sec-content > .divider > .clm > .txt > .p > .st{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    text-decoration: none;
    color: inherit;
}

.foot-holder > .sec-content > .divider > .clm > .p{
    display: flex;
    font-family: KistPayPopinLight;
    width: 272px;
    font-size: 16px;
    flex-wrap: wrap;
}

.foot-holder > .cr{
    display: flex;
    padding: 10px 112px;
    border-top: 1px solid white;
}

/*--For Large Screens--*/
@media only screen and (min-width: 1440px) {
    .foot-holder {
        /*max-width: 1512px;*/
        max-width: 1632px;
    }
}
/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .foot-holder > .sec-content{
        padding: 34px 35px;
    }
    .foot-holder > .sec-content > .divider > .clm > .txt > .head{
        font-size: 14px;
    }
    .foot-holder > .sec-content > .divider > .clm > .txt > .p{
        font-size: 12px;
        margin-top: 9px;
    }
    .foot-holder > .sec-content > .divider > .clm > .p{
        width: 140px;
        font-size: 14px;
    }
    .foot-holder > .cr{
        font-size: 12px;
        padding: 10px 61px;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .foot-holder > .sec-content{
        padding: 20px 35px;
        flex-direction: column;
    }
    .foot-holder > .sec-content > .divider{
        flex-direction: column;
        margin: 0 0;
    }
    .foot-holder > .sec-content > .divider > .clm > .logo{
        justify-content: center;
    }
    .foot-holder > .sec-content > .divider > .clm > .icons{
        margin: 21px 0;
        justify-content: space-around;
    }

    .foot-holder > .sec-content > .divider > .clm > .txt > .head{
        font-size: 18px;
        justify-content: center;
    }
    .foot-holder > .sec-content > .divider > .clm > .txt > .p{
        font-size: 12px;
        margin-top: 12px;
        text-align: center;
    }
    .foot-holder > .sec-content > .divider > .clm > .p{
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
    .foot-holder > .sec-content > .divider > .clm > .icons > img{
        width: 24px;
        height: 24px;
    }
    .foot-holder > .cr{
        font-size: 12px;
        padding: 10px 61px;
        justify-content: center;
    }
}