.section > .tm-hld {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section > .tm-hld > .p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
    font-family: KistPayPopinLight;
    margin-bottom: 4rem;
}

.section > .tm-hld > .tm-img-bx{
    /*margin: 4rem 0;*/
    display: contents;
}

.section > .tm-hld > .tm-btm{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.section > .tm-hld > .tm-btm > .p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-family: KistPayPopinLight;
    margin-top: 4rem;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section > .btm > img{
        width: 700px;
    }
    .section > .tm-hld > .p{
        font-size: 28px;
        margin-bottom: 2rem;
    }
    .section > .tm-hld > .tm-btm > .p{
        font-size: 20px;
        margin-top: 2rem;
    }
    .section > .tm-hld > .tm-img-bx{
        display: flex;
        justify-content: center;
    }
    .section > .tm-hld > .tm-img-bx > img{
        width: 700px;
    }
    .section > .ov-hld > .p{
        font-size: 25px;
        margin-bottom: 50px;
    }
    .section > .ov-hld > .p-bx{
        margin-bottom: 50px;
    }
    .section > .ov-hld > .p-bx > .hd{
        font-size: 16px;
    }
    .section > .ov-hld > .p-bx > .lc > .ic > img{
        width: 24px;
    }
    .section > .ov-hld > .p-bx > .lc > .p{
        font-size: 14px;
    }
    .section > .ov-hld > .p-bx > .cnt{
        font-size: 14px !important;
    }
    .section > .ov-hld > .p-bx > .lc > .sp{
        font-size: 14px
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .section > .btm > img{
        width: 350px;
    }
    .section > .tm-hld > .p{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .section > .tm-hld > .tm-btm > .p{
        font-size: 20px;
        margin-top: 2rem;
    }
    .section > .tm-hld > .tm-img-bx{
        display: flex;
        justify-content: center;
    }
    .section > .tm-hld > .tm-img-bx > img{
        width: 350px;
    }
    .section > .ov-hld > .p{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .section > .ov-hld > .p-bx{
        margin-bottom: 30px;
    }
    .section > .ov-hld > .p-bx > .hd{
        font-size: 14px;
    }
    .section > .ov-hld > .p-bx > .lc > .ic > img{
        width: 20px;
    }
    .section > .ov-hld > .p-bx > .lc > .p{
        font-size: 12px;
    }
    .section > .ov-hld > .p-bx > .cnt{
        font-size: 12px !important;
    }
    .section > .ov-hld > .p-bx > .lc > .sp{
       font-size: 12px
    }
}