.cont-main > .section > .ctr-sec {
    display: flex;
    flex-direction: column;
    padding: 0 0 10rem 0;
    position: relative;
}

.cont-main > .section > .ctr-sec > .img-hld {
    position: relative;
}

.cont-main > .section > .ctr-sec > .img-hld > ._bg {

    /* Set a specific height */
    min-height: 500px;
    width: 70rem;
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.cont-main > .section > .ctr-sec .typo-sec {
    position: absolute;
    /*bottom: 6rem;*/
    bottom: -6rem;
    line-height: 1;
    left: calc(50% - 20rem);
    font-weight: 500;
}

.cont-main > .section > .ctr-sec .typo-sec > .txt-pri {
    font-size: 95px;
    color: #FFFFFF;
}

.cont-main > .section > .ctr-sec .typo-sec > .txt-sec {
    font-size: 95px;
    color: #447ABB;
}


.cont-main > .section > .ctr-sec .card-sec {
    position: absolute;
    /*bottom: 6rem;*/
    bottom: -7rem;
    right: calc(50% - 25rem);
    width: 350px;
    padding: 2rem;
    background: white;
    color: #807d7d;
    /*background: rgb(255 255 255 / 62%);*/
    /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
    /*backdrop-filter: blur(4px);*/
    /*-webkit-backdrop-filter: blur(4px);*/
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.cont-main > .section > .ctr-sec .card-sec > .card-point {
    color: #777879;
    font-size: 13px;
}

.cont-main > .section > .ctr-sec .card-sec > .card-point > .p{
    margin: 0.2rem;
}

.cont-main > .section > .ctr-sec .card-sec > .card-point > .p > .st{
    color: #447ABB;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cont-main > .section > .ctr-sec > .img-hld img {
        height: 300px;
    }

    .cont-main > .section > .ctr-sec .typo-sec {
        bottom: 22rem;
        left: calc(50% - 0rem);
    }

    .cont-main > .section > .ctr-sec .typo-sec > .txt-pri {
        font-size: 50px;
    }

    .cont-main > .section > .ctr-sec .typo-sec > .txt-sec {
        font-size: 50px;
    }

    .cont-main > .section > .ctr-sec .card-sec {
        right: calc(50% - 10rem);
        padding: 1rem;
        width: 500px;
    }

    .cont-main > .section > .ctr-sec .card-sec > .card-point{
        font-size: 16px;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .cont-main > .section > .ctr-sec > .img-hld img {
        width: 350px;
        height: 300px;
    }

    .cont-main > .section > .ctr-sec > .img-hld > ._bg {
        min-height: 300px;
        height: 300px;
    }

    .cont-main > .section > .ctr-sec .typo-sec {
        bottom: 13rem;
        left: calc(50% - 0rem);
    }

    .cont-main > .section > .ctr-sec .typo-sec > .txt-pri {
        font-size: 40px;
    }

    .cont-main > .section > .ctr-sec .typo-sec > .txt-sec {
        font-size: 40px;
    }

    .cont-main > .section > .ctr-sec .card-sec {
        right: calc(45% - 3rem);
        padding: 1rem;
        width: 300px;
    }

    .cont-main > .section > .ctr-sec .card-sec > .card-point {
        font-size: 12px;
    }
}