.cont-main > .section > .cnt-sec-eight {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cont-main > .section > .cnt-sec-eight > .top {
    display: flex;
    flex-direction: column;
}

.cont-main > .section > .cnt-sec-eight > .top > .heading {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.cont-main > .section > .cnt-sec-eight > .top > .heading > .txt {
    display: flex;
    color: #447ABB;
    font-size: 28px;
    font-weight: 500;
}

.cont-main > .section > .cnt-sec-eight > .top > .typo-txt {
    display: flex;
    margin: 0.5rem 0;
}

.cont-main > .section > .cnt-sec-eight > .top > .typo-txt > .p {
    display: flex;
    font-size: 25px;
    justify-content: center;
    color: #9c9898;
    text-align: center;
}

.cont-main > .section > .cnt-sec-eight > .btm {
    display: flex;
    z-index: 2;
    width: 100%;
    justify-content: center;
}

.cont-main > .section > .cnt-sec-eight > .btm > .sl-hld {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 340px;
}

.cont-main > .section > .cnt-sec-eight > .btm > .sl-hld > .btn-hld {
    display: flex;
    cursor: pointer;
}

.cont-main > .section > .cnt-sec-eight > .btm > .sl-hld > .slider {
    display: flex;
    width: 100%;
    justify-content: center;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cont-main > .section > .cnt-sec-eight > .top > .heading {
        margin: 0.5rem 0;
    }

    .cont-main > .section > .cnt-sec-eight > .top > .heading > .txt {
        font-size: 28px;
    }

    .cont-main > .section > .cnt-sec-eight > .top > .typo-txt > .p {
        font-size: 16px;
        margin: 0.5rem;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .cont-main > .section > .cnt-sec-eight > .top > .heading {
        margin: 0.5rem 0;
    }

    .cont-main > .section > .cnt-sec-eight > .top > .heading > .txt {
        font-size: 18px;
    }

    .cont-main > .section > .cnt-sec-eight > .top > .typo-txt > .p {
        font-size: 12px;
        margin: 0.5rem;
    }
}