.section > .lft > .shp-frm {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 0 0;
}

.section > .lft > .shp-frm > .hd {
    display: flex;
}

.section > .lft > .shp-frm > .hd > .p {
    font-family: KistPayPopinLight;
    font-size: 40px;
}

.section > .lft > .shp-frm > .shp {
    display: flex;
    flex-direction: column;
}

.section > .lft > .shp-frm > .shp > .search-hld {
    display: flex;
    margin: 1rem 0;
}

.section > .lft > .shp-frm > .shp > .search-hld > .src-box {
    display: flex;
    align-items: center;
    width: 488px;
    padding: 8px 24px;
    background-color: white;
    border-radius: 8px;
}

.section > .lft > .shp-frm > .shp > .search-hld > .src-box > .ic {
    display: flex;
    margin: 0 0.5rem 0 0;
}

.section > .lft > .shp-frm > .shp > .search-hld > .src-box > .inp {
    display: flex;
    width: 100%;
}

.section > .lft > .shp-frm > .shp > .search-hld > .src-box > .inp > input {
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
    font-family: KistPayPopinRegular;
}

.section > .lft > .shp-frm > .shp > .search-hld > .src-box > .inp > input::placeholder {
    color: #707070;
}

.section > .lft > .shp-frm > .shp > .lst {
    display: flex;
    flex-direction: column;
}

.section > .lft > .shp-frm > .shp > .lst > .counts {
    display: flex;
    margin: 1rem 0;
    font-size: 20px;
    color: #707070;
    font-family: KistPayPopinLight;
}

.section > .lft > .shp-frm > .shp > .lst  > .crd-hld{
    display: flex;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}

.section > .lft > .shp-frm > .shp > .lst  > .crd-hld > .crd{

}

.section > .lft > .shp-frm > .shp > .lst  > .crd-hld > .crd > .ttl{
    display: flex;
    font-size: 20px;
    font-family: KistPayPopinBold;
    color: #0B9E00;
}

.section > .lft > .shp-frm > .shp > .lst  > .crd-hld > .crd > .txt{
    display: flex;
    font-size: 16px;
    font-family: KistPayPopinRegular;
    color: #1D1D1D;
}

.section > .lft > .shp-frm > .shp > .lst  > .crd-hld > .crd > .sub-txt{
    display: flex;
    font-size: 16px;
    font-family: KistPayPopinBold;
    color: #969696;
}

.section > .rtm > .map-hld{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.section > .rtm > .map-hld > .crd-hld{
    display: flex;
    /*width: 100%;*/
    margin: 0 3rem;
    position: absolute;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}

.section > .rtm > .map-hld  > .crd-hld > .crd{

}

.section > .rtm > .map-hld  > .crd-hld > .crd > .ttl{
    display: flex;
    font-size: 20px;
    font-family: KistPayPopinBold;
    color: #0B9E00;
}

.section > .rtm > .map-hld  > .crd-hld > .crd > .txt{
    display: flex;
    font-size: 16px;
    font-family: KistPayPopinRegular;
    color: #1D1D1D;
}

.section > .rtm > .map-hld  > .crd-hld > .crd > .sub-txt{
    display: flex;
    font-size: 16px;
    font-family: KistPayPopinBold;
    color: #969696;
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .p-bold-green{
        margin: 0 0.3rem;
    }
    .section > .clm > .rw{
        flex-direction: column;
        align-items: center;
        margin: 0 0.5rem;
    }
    .section > .clm > .rw > .p{
        margin-bottom: 20px;
        font-size: 24px;
    }
    .section > .clm > .rw > .box{
        min-width: initial;
        margin: 6px 0;
    }
    .section > .clm > .rw > .box > .t{
        margin: 8px 0;
    }
    .section > .clm > .rw > .box > .t > .ic > img{
        width: 54px;
    }
    .section > .clm > .rw > .box > .c > .hd{
        font-size: 16px;
    }
    .section > .clm > .rw > .box > .c > .p{
        font-size: 14px;
        /*width: initial;*/
    }
    .section > .lft{
        margin: 0 0.5rem;
    }
    .section > .lft > .shp-frm{
        margin: 0;
    }
    .section > .lft > .shp-frm > .hd > .p{
        font-size: 24px;
    }
    .section > .lft > .shp-frm > .shp > .search-hld > .src-box{
        width: initial;
    }
    .section > .lft > .shp-frm > .shp > .search-hld > .src-box > .inp > input{
        font-size: 16px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .counts{
        font-size: 16px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .crd-hld > .crd > .ttl{
        font-size: 18px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .crd-hld > .crd > .txt{
        font-size: 14px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .crd-hld > .crd > .sub-txt{
        font-size: 14px;
    }
    .section > .rtm{
        margin: 1rem 0.5rem;
    }
    .section > .rtm > .map-hld > .crd-hld > .crd > .ttl{
        font-size: 18px;
    }
    .section > .rtm > .map-hld > .crd-hld > .crd > .txt{
        font-size: 14px;
    }
    .section > .rtm > .map-hld > .crd-hld > .crd > .sub-txt{
        font-size: 14px;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .p-bold-green{
        margin: 0 0.3rem;
    }
    .section > .clm > .rw > .p{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .section > .clm > .rw{
        flex-direction: column;
        margin: 0 0.5rem;
    }
    .section > .clm > .rw > .box{
        min-width: initial;
        margin: 6px 0;
    }
    .section > .clm > .rw > .box > .t{
        margin: 8px 0;
    }
    .section > .clm > .rw > .box > .t > .ic > img{
        width: 45px;
    }
    .section > .clm > .rw > .box > .c > .hd{
        font-size: 14px;
    }
    .section > .clm > .rw > .box > .c > .p{
        font-size: 12px;
        width: initial;
    }
    .section > .lft{
        margin: 0 0.5rem;
    }
    .section > .lft > .shp-frm{
        margin: 0;
    }
    .section > .lft > .shp-frm > .hd > .p{
        font-size: 20px;
    }
    .section > .lft > .shp-frm > .shp > .search-hld > .src-box{
        width: initial;
    }
    .section > .lft > .shp-frm > .shp > .search-hld > .src-box > .inp > input{
        font-size: 14px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .counts{
        font-size: 14px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .crd-hld > .crd > .ttl{
        font-size: 16px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .crd-hld > .crd > .txt{
        font-size: 12px;
    }
    .section > .lft > .shp-frm > .shp > .lst > .crd-hld > .crd > .sub-txt{
        font-size: 12px;
    }
    .section > .rtm{
        margin: 1rem 0.5rem;
    }
    .section > .rtm > .map-hld > .crd-hld > .crd > .ttl{
        font-size: 16px;
    }
    .section > .rtm > .map-hld > .crd-hld > .crd > .txt{
        font-size: 12px;
    }
    .section > .rtm > .map-hld > .crd-hld > .crd > .sub-txt{
        font-size: 12px;
    }
}