.kp-footer-main {
    width: 100%;
    background-color: #447ABB;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.kp-foot-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.kp-foot-holder > .sec-content {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.kp-foot-holder > .sec-content > .divider {
    display: flex;
    margin: 1rem 0;
    justify-content: space-around;
}

.kp-foot-holder > .sec-content > .divider > .clm {
    display: flex;
    flex-direction: column;
}

.kp-foot-holder > .sec-content > .divider > .clm > .logo {
    display: flex;
    margin: 1rem 0;
}

.kp-foot-holder > .sec-content > .divider > .clm > .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.kp-foot-holder > .sec-content > .divider > .clm > .icons > img {
    width: 32px;
    height: 32px;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt {
    display: flex;
    flex-direction: column;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .head {
    display: flex;
    font-family: KistPayPopinSemiBold;
    font-size: 20px;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: KistPayPopinRegular;
    margin-top: 19px;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .p > .st {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    text-decoration: none;
    color: inherit;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 16px 0;
    background-color: white;
    border: 2px solid white;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp.on {
    border-color: #2760D8;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp > .ic {
    display: flex;
    width: 24px;
    margin-right: 16px;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp > .inp {
    display: flex;
    width: 100%;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp > .inp > input {
    width: inherit;
    border: none;
    outline: none;
    font-family: KistPayPopinRegular;
    font-size: 16px;
    color: #C3C3C3;
}

.kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp > .inp > input::placeholder {
    color: #C3C3C3;
}

.kp-foot-holder > .sec-content > .divider > .clm > .p {
    display: flex;
    font-family: KistPayPopinLight;
    width: 272px;
    font-size: 16px;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.kp-footer-main > .cr {
    display: flex;
    justify-content: center;
    /*padding: 10px 112px;*/
    border-top: 1px solid white;
    width: 100%;
}

.kp-footer-main > .cr > span{
    margin: 0.5rem;
}

/*--For Large Screens--*/
@media only screen and (min-width: 1440px) {
    .kp-foot-holder {
        /*max-width: 1512px;*/
        max-width: 1632px;
    }
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .kp-foot-holder > .sec-content {
        padding: 34px 35px;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .txt > .head {
        font-size: 14px;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .txt > .p {
        font-size: 12px;
        margin-top: 9px;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .p {
        width: 140px;
        font-size: 14px;
    }

    .kp-footer-main > .cr {
        font-size: 12px;
        padding: 10px 61px;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp{
        width: initial;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .kp-foot-holder > .sec-content {
        padding: 20px 35px;
        flex-direction: column;
    }

    .kp-foot-holder > .sec-content > .divider {
        flex-direction: column;
        margin: 0 0;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .logo {
        justify-content: center;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .icons {
        margin: 21px 0;
        justify-content: space-around;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .txt > .head {
        font-size: 18px;
        justify-content: center;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .txt > .p {
        font-size: 12px;
        margin-top: 12px;
        text-align: center;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .p {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .icons > img {
        width: 24px;
        height: 24px;
    }

    .kp-footer-main > .cr {
        font-size: 12px;
        padding: 10px 61px;
        justify-content: center;
    }

    .kp-foot-holder > .sec-content > .divider > .clm > .txt > .subs-fields > .hld > .inp-grp{
        width: initial;
    }
}