.section > .clm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section > .clm > .rw{
    display: flex;
    justify-content: space-between;
}

.section > .clm > .rw > .p{
    display: flex;
    width: 100%;
    margin-bottom: 64px;
    justify-content: center;
    font-size: 40px;
    font-family: KistPayPopinLight;
}

.section > .clm > .rw > .box{
    display: flex;
    flex-direction: column;
    min-width: 385px;
    padding: 24px 32px;
    background-color: #F1FFF3;
    color: #1D1D1D;
    border-radius: 16px;
}

.section > .clm > .rw > .box > .t{
    margin: 12px 0;
}

.section > .clm > .rw > .box > .t > .ic{

}

.section > .clm > .rw > .box > .c{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section > .clm > .rw > .box > .c > .hd{
    display: flex;
    font-size: 24px;
    margin: 6px 0;
    font-family: KistPayPopinMedium;
}

.section > .clm > .rw > .box > .c > .p{
    display: flex;
    width: 320px;
    font-size: 16px;
    margin: 6px 0;
    font-family: KistPayPopinRegular;
}

.section > .clm > .rw > .box > .b{
    display: flex;
    margin: 12px 0 0 0;
}

.section > .clm > .rw > .box > .b > .c{
    display: flex;
    margin: 12px 0;
}