.btm > .para{
    display: flex;
    flex-direction: column;
}

.btm > .para > .hd{
    font-size: 24px;
    font-family: KistPayPopinMedium;
}

.btm > .para > .p{
    margin: 23px 0;
    font-size: 14px;
    line-height: 2.8;
    font-family: KistPayPopinRegular;
}