:root {
    --offset: 0;
    --dir: 0;
    --px: 0.0802738;
    --py: 0.235397;
}

.slides {
    display: grid;
}

.slides > .slide {
    grid-area: 1 / -1;
}

.slides > button {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

}

.slides > button:hover {
    opacity: 1;
}

.slides > button:focus {
    outline: none;
}

.slides > button:first-child {
    left: 0;
}

.slides > :last-child {
    right: 0;
}

.slideContent {
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    opacity: 0.7;
    display: grid;
    align-content: center;
    border-radius: 8px;
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
}

.slideContentInner .slideSubtitle, .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
}

.slideSubtitle::before {
    content: "— ";
}

.slideDescription {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
}


.slideBackground {
    position: fixed;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.3s ease-in-out;
    pointer-events: none;

    transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
    z-index: 2;
    pointer-events: auto;
}

.slide[data-active].slideBackground {
    opacity: 0.2;
    transform: none;
}

.slide[data-active].slideContentInner {
    opacity: 1;
}

.slide[data-active].slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;
    transform: perspective(1000px);
}

.slide[data-active].slideContent:hover {
    transition: none;
    transform: perspective(1000px) rotateY(calc(var(--x) * 45deg)) rotateX(calc(var(--y) * -45deg));
}

/*--For Medium Screens--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slideContent {
        width: 300px;
        height: 300px;
        background-size: contain;
    }
}

/*--For Small Screens--*/
@media only screen and (max-width: 767px) {
    .slideContent {
        width: 200px;
        height: 300px;
    }
}

